image: node:20-alpine

pages:
  script:
    - npm install
    - npm run build
    - rm -rf public      # Remove any existing public dir
    - mv dist public     # Move Vite build output (dist) to public
    - cp public/index.html public/404.html # Fix for React Router/SPA routing
  artifacts:
    paths:
      - public
  rules:
    - if: $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH